# Xcode
xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.playground

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp

# App signing local overrides
*.mobileprovision
*.xcuserstate
